{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "tsx": true
    }
  },
  "rules": {
    "semi": [2, "never"],
    "@typescript-eslint/explicit-function-return-type": "off"
  }
}
